
@border-color:grey;
@row-hover-backgrounc-color:#e5e5e5;
@row-backgrounc-color:#B3E5FC;

.style-trans(@css,@style){
  -moz-@{css}: @style;
  -webkit-@{css}: @style;
  -o-@{css}: @style;
  @{css}: @style;
}
*{
  box-sizing: border-box;
}
.container{
  width: 80%;
}
.show-btn:hover{
  cursor: pointer;
}
.treeHeader{
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
  div{
    border-right: 1px solid @border-color;
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    padding: 5px;
  }
  div:first-child{
    border-left: 1px solid @border-color;
  }
}

.root,.node,.leaf{
  display: flex;
  vertical-align: top;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

 
ul>li{
   list-style-type: none;
  float: left;
}
.treeBody{
  border-left: 1px solid @border-color;
  border-right: 1px solid @border-color;
}
.node-item{
  .root-row,
  .node-row,
  .leaf-row{
    display: inline-flex;
    flex-direction: row;
    div{
      border-bottom: 1px solid @border-color;
      text-align: center;
      line-height: 18px;
      padding: 5px 0;
    }
    div:first-child{
      text-align: left;
    }
    &:hover{
      background-color: @row-hover-backgrounc-color;
    }

  }
}
.show-btn{
    padding-left: 20px;
}
.tree-open{
  background: url('../images/tree_open.png') no-repeat;
  }
.tree-close{
  background: url('../images/tree_close.png') no-repeat;
}

.node-item .root-row div:first-child{
  padding-left: 10px;
}
.node-item .node-row div:first-child{
  padding-left: 20px;
}
.node-item .leaf-row div:first-child{
  padding-left: 30px;
}
